body {
  font-family: "Lato", system-ui;
}

footer .text-muted, footer {
  color: #14022B!important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .logocenter img {
    height : 250px;
  }
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: white;
}
.site-header a {
  color: #14022B;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #14022B;
  text-decoration: none;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 0px 6px #E5CFD0;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}

#cover::before {
  background: #F8F9FA;
  bottom: 100%;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  transform-origin: 100% 100%;
  transform: rotate(-29deg);
  width: 130%;
  height: 100%;
  z-index: 0;
}

#cover{
  /* background-image: linear-gradient(130deg, #FDB040, #8A1F68); */
  background-color: #14022B;
  overflow: hidden;
  z-index: 1000;
}

#cover > div, #cover > div::after {
  z-index: 1001;
}

#bienvenue {
  /* background-image: linear-gradient(130deg, #FDB040, #8A1F68); */
  background-color: #14022B!important;
  overflow: hidden;
  color :white;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
@media (max-width: 768px) {
  #cover::before{
    background-color: transparent;
  }
  .logocenter img {
    height : 80px;
  }
}
